body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white !important;
}

a:hover {
    text-decoration: none;
}
.banner span {
    display: inline-block;
    position: relative;
    padding:6px 15px;
    background-color: #005bc9;
    transform: translateY(-103%);
    color: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    left: 5%;
    font-size: 30px;
    font-weight: bold;
}
.quiz-container {
    width: 90%;
    margin: auto;
    
}
.quiz-name span{
    font-size: 45px;
    font-weight: bolder;
    margin-right: 10px;
}

.quiz-bookmark {
    font-size: 24px;
    border: none;
    position: relative;
    transform: translateY(-10%);
    background-color: white;
}
.quiz-bookmark:focus {
    outline: none;
}
.bold{
    font-weight: bold !important;
}
.quiz-menu {
    border-bottom: 3px solid rgb(182, 173, 173) ;
    padding: 0px 20px;
    cursor: pointer;
    justify-content: center;
}
.active{
    border-bottom: 3px solid #005bc9;
}
.scrip {
    display: none;
}
.scrip h1{
    font-size: 32px;
    font-weight: bold;
    padding-left:2px;
    padding-top: 20px;
}
.scrip p{
    font-size: 18px;
    padding-left:2px;
    padding-top: 10px;
}
.scrip-active {
    display: block;
}
.d-flex{
    font-size: 25px;
    font-weight: 300px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.take-quiz span{
    display: block;
    position: absolute;
    background-color: #005bc9;
    color: white;
    border-radius: 7px;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    right: 0%;
    text-align: center;
    /* display: flex;
    flex-direction: row-reverse;
    justify-content: center; */
}
.save-view-block{
    position: relative;
    top: 10%;
    font-size: 25px;
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: end;
    font-weight: 500;
}
.save-view-block span{
    position: relative;
    width: 100%;
    right: 0;
    padding-left: 30px; 
}
.avatar {
    text-align: center;
    position: absolute;
    right: 75px;
}
.avatar img{
    border-radius: 50%;
    height: 150px; 
    width: 150px;
}
.image-ava{
    display:inline-block;
    text-align: center;
    height: 100px; 
    width: 100px; 
    border-radius: 50%; 
    margin-top: 40px;
}
.user-quiz-name {
    font-weight: bold;
    font-size: 32px;
    margin-top: 20px;
}
.review {
    margin-top: 50px;
}
.review-card {
    background-color: #ededed;
    width: 95%;
    height: 100%;
    padding: 60px 20px;
    border-radius: 20px;
    
}
.review-card-overall {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.review-card-overall p:first-child {
    font-size: 24px;
    font-weight: bold;
}
.review-card-overall span {
    padding: 0px 40px;
    margin: 15px 0px 30px 0px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.review-card-overall span img {
    width: 50px;
}
.review-card-overall p:last-child {
    font-size: 20px;
}
.review-card-detail {

}
.review-card-detail img {
    width: 18px;
    margin: 5px;
}
.rated {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;  
    padding: 10px;
}
.rated span { 
    font-size: 24px;
    font-weight: 700;

}

.rated-bar {
    position: relative;
    width: 100%;
    padding: 15px;
    background-color: rgb(215, 216, 211);
    border-radius: 10px;
}
.star-5{
    position: absolute;
    width: 50%;
    transform: translate(-50%, -50%);
    left: 25%;
    padding: 15px;
    background-color: #ffc107;
    border-radius: 10px;
}
.comment {
    margin-top: 50px;
}
.comment h1 {
    margin: 0;
    padding: 0;
}
.comment-card{
    background-color: #ededed;
    width: 95%;
    height: 100%;
    border-radius: 20px;
    margin: 40px 0px;
    padding-bottom: 30px;
}
.comment-users {
    padding: 25px 25px 0px 25px;
    display: flex;
}
.comment-users img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.comment-users span {
    font-weight: bold;
    font-size: 25px;
    margin-left: 15px;
}
.comment-scrip {
    display: flex;
    flex-direction: column;
    padding: 25px;
}
.comment-scrip span {
    padding-bottom: 15px;
    width: 95%;
    border-bottom: 3px solid rgb(182, 173, 173) ;
}
.comment-scrip span img {
    width: 20px;
    height: 20px;
}
.comment-scrip p {
    padding: 15px 0px 5px 0px;
    margin: 0;
    width: 95%;
}
.comment-time {
    width: 95%;
    text-align: end;
    margin-top: 20px;
}
.comment-time span {
    border: none;
}

/*-------------------------------- QUIZ FINISH ------------------*/

.quiz-finish {
    width: 85%;
    margin: auto;
    margin-top: 10px;
}
.quiz-finish span {
    font-size: 25px;
    font-weight: bolder;
}
.finish-card p {
    font-size: 30px;
    font-weight: 600;
    padding: auto;
    margin: 20px 0px;
    text-align: center;
}
.finish-card {
    width: 100%;
    height: 100%;
    border: 2px solid rgb(182, 173, 173);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 50px;

    padding-bottom: 50px;
}
.finish-card-container {
    max-width: 75%;
    margin: auto;
}
.finish-menu {
    text-align: center;
}
.rank-review{
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0px 5px 0px;
}

.finish-table {
    width: 100%;
    position: relative;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}
.finish-table thead tr th {
    padding: 0px 20px;
    color: white;
    background-color: #005bc9;
}
.finish-table thead tr th:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.finish-table thead tr th:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.finish-table tbody {
    transform: translateY(15px);
}
.finish-table tbody tr td{
    padding: 0px 20px;
}
.w-5 {
    width: 5%;
}
.w-10 {
    width: 10%;
}
.w-20 {
    width: 20%;
}
.w-30 {
    width: 30%;
}
.w-45 {
    width: 45%;
}
.w-70 {
    width: 70%;
}
.vote-rate {
    display: flex;
    justify-content: center;
    margin: 10px 0px 0px 0px;
    height: 30px;
}
.vote-rated-star { 
    padding: 0;
    margin: 0;
}
.vote-rate img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}
.vote-output {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    padding: 0px;
    margin: 0;
}
.cmt-review{
    background-color: #ededed ;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 10px;
    margin-top: 17px;
}
.cmt-review textarea {
    background-color: #ededed ;
    width: 100%;
    height:px;
    border-radius: 15px;
    border: none;
    margin: 7px;
}
.cmt-review textarea:focus {
    outline: none;
}
.end {
    text-align: end;
    margin: 10px 0px ;
}
@media screen and (max-width: 767px)  {
    .take-quiz span{
        left: 50%;
        margin-top: 20px;
        transform: translateX(-50%);  
    }
    .save-view-block {  
        margin-top: 100px;
        text-align: center;
    }
    .save-view-block span {
        right: 0;
        left: 0%;
        padding: 0px 20px; 
    }
    .avatar {
        text-align: center;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
    }
    .finish-table thead tr th {
        padding: 0px 10px;
    }
    .finish-table tbody tr td{
        padding: 0px 10px;
    }
    .finish-table {
        font-size: 18px;
    }
}
@media screen and (max-width: 476px)  {
    .take-quiz span{
        font-size: 15px;
    }
}

