@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
  :root {
    --primary: #08aeea;
    --secondary: #13D2B8;
    --purple: #bd93f9;
    --pink: #ff6bcb;
    --blue: #8be9fd;
    --gray: #333;
    --font: "Poppins", sans-serif;
    --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
    --shadow: 0 0 15px 0 rgba(0,0,0,0.05);
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }

  body {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 1.4rem;
    overflow-x: hidden;
    font-weight: 300;
  }

  img {
    display: block;
    max-width: 100%;
  }

  a {
    text-decoration: none;
  }

  input,
  button,
  textarea,
  select {
    font-family: var(--font);
    font-size: 1.4rem;
    font-weight: 300;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }

  button {
    cursor: pointer;
  }
  .btn.btn-outline-secondary{
    background-image: url("../uploads/icons/check-solid.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    width: 40px;
  }
  .btn.btn-outline-secondary:hover{
    background-image: url("../uploads/icons/check-solid-2.svg");
  }
  
  ::-webkit-scrollbar {
    width: 1px;
    }

    ::-webkit-scrollbar-track {
    background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
    background: #888;
    }

    ::-webkit-scrollbar-thumb:hover {
    background: #555;
    }
    .gradient{
      background-color: rgb(255, 255, 255);
      border-right: 1px solid rgba(69, 77, 69, 0.067);
      font-size: 1.6rem;
      cursor: pointer;
      outline: none;
      padding: 13px 0;
      transition: background-color 0.5s linear;
    }

    .gradient:hover{
        background-color: rgb(185, 174, 196);
    }
    .content{
        margin: 0 2rem;
        padding:0 20px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
    }

    a{
        color:black;
        transition: color 0.5s linear;
    }
    a:hover  {
        color: #005bc9;
        text-decoration: none;
    }

    .w-5{
        display: inline;
        width: 20px;
        height: 10px;
    }
    p.text-sm.text-gray-700.leading-5, div.flex.justify-between.flex-1{
        display: none;
    }
  
          .sidebar-menu {
            position: fixed;
            top:70px;
            padding: 20px;
            background-color: white;
            border-radius: 10px;
            width: 250px;
            border-right: 2px solid rgb(197, 193, 193);
            border-bottom: 2px solid rgb(197, 193, 193);
      
          }
          .sidebar-item {
            display: flex;
            align-items: center;
            padding: 15px;
            border-radius: 10px;
            color: #333132;
            transition: all 0.15s ease-in;
          }
          .sidebar-item:hover {
            color: white;
            background-color: #7a6ed2;
            text-decoration: none;
          }
          .sidebar-text {
            font-weight: 500;
          }

        .navbar-brand {
            display: inline-block;
            padding-top: .3125rem;
            padding-bottom: .3125rem;
            margin-right: 1rem;
            font-family: fantasy;
            font-size: 3rem;
            font-weight: lighter;
            line-height: inherit;
            white-space: nowrap;
        }

      .block{
          padding-top: 80px;
      }
        
      .item{
          position: relative;
          cursor: pointer;
          padding:70px 40px;
          margin: 10px;
          background-color: aqua;
          overflow: hidden;
          border-radius: 10px;
          box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
          font-weight: bold;
      }

      .e-flex-content {
          position: absolute;
          top: 20%;
          left: 10%;     
       }

      button {
          cursor: pointer;
      }

    .simple-search {
      margin: auto;
      width: 140%;
      display: flex;
      align-items: center;
      border: 1px solid black;
      border-radius: 5px;
      margin-left: 50px;
    }

    .simple-search button {
      height: 20px;
      width: 30px;
      padding: 5px;
      color: black;
      flex-shrink: 0;
      border-radius: 8px;
      background-color: #e1eff9;
      background-image: url("../uploads/icons/magnifying-glass-solid.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 15px;
    }
    .simple-search input {
      width: 100%;
      height: 50%;
      padding: 5px;
      background-color: #e1eff9;
      border-radius: 8px;
      -webkit-appearance: none;
      font-size: 14px;
      font-weight: 500;
      
    }

    .input-lg{
      height: 50px;
      padding: .5rem 1rem;
      font-size: 1.25rem;
      line-height: 1.5;
      border-radius: .3rem;
    }

    .input-group{
      margin-top: 10px;
    }
    .question{
      margin-top: 20px;
    }
    .showed{
      opacity: 1;
    }

    .faded:not(.showed){
      transition: opacity .5s linear;
    }

    .faded{
      opacity: 0;
    }

    .nav-item{
      font-weight: bold;
      color: black;
      margin: 5px 10px;
      text-align: center;
    }

    #sign-up-btn{
      font-weight: bold;
      padding: 5px 10px;
      border-radius: 10px;
      color: white;
      background-color: #005bc9;
      text-align: center;
    }

    #sign-up-btn a{
        color:white;
        transition: color 0.5s linear;
    }
    #sign-up-btn a:hover  {
        color: black;
        text-decoration: none;
    }

    .dropdown-menu{
      border-radius: 15px;
      font-size: 1em;
      width: 200px;
    }

    .dropdown-menu div{
      padding: 0 20px;
    }
    .dropdown-item{
      padding: 5px 10px;
      border-radius: 12px;
    }
    #navbarDropdown{
      display: flex;
      align-items: center;
    }
    #user-name{
      display: inline-block;
      margin: 0 5px;
      overflow: hidden;
      width: 100px;
    }
    .quiz-name-title {
      font-weight: bold;
      border-bottom: 3px solid #e1eff9;
      background-color:  #2ab7ca;
      color: white;
      font-size: 30px;
      padding: 8px 15px; 
      margin: 0; 
      border-radius: 7px;
      box-shadow: 0 2px 5px #e1eff9;
      margin-bottom: 15px;
  }

@media only screen and (max-width: 767px){
  .simple-search {
    width: 100%;
    display: flex;
    border: 1px solid black;
    margin: 10px 0;
  }

  .navbar-brand{
    margin-left: 50px;
  }

    .sidebar-menu {
        display: none;
    }
    
  .show-sidebar {
    display: block;
    position: fixed;
    top:70px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 250px;
    border-right: 2px solid rgb(197, 193, 193);
    border-bottom: 2px solid rgb(197, 193, 193);
  }
  .dropdown-menu{
    margin: auto;
    border-radius: 15px;
    font-size: 1em;
    width: 50%;
  }

  #navbarDropdown{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #user-name{
    display: inline-block;
    margin: 0 5px;
    overflow: hidden;
    width: 100%;
  }

  .blank-logo{
    width: 51px;
  }
}
